<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/admin.css">
    <link rel="icon" sizes="16x16" type="image/png" href="images/favicon16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="images/favicon32x32.png">
    <link rel="icon" sizes="64x64" type="image/png" href="images/favicon64x64.png">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="top-nav">
        <img src="images/favicon64x64.png" alt="logo">
        <div class="search">
            <input type="text" id="search" placeholder="Search Term..." />
        </div>
    </div>
    <div class="nav">
        <ul class="nav-list">
            <li><a href="" class="icon-home"> <span>Home</span></a></li>
            <li><a href="" class="icon-list-ul"> <span>List</span></a></li>
            <li><a href="" class="icon-clock-o"> <span>Pending</span></a></li>
            <li><a href="" class="icon-exclamation-circle"> <span>Reports</span></a></li>
            <li><a href="" class="icon-user-times"> <span>Logout</span></a></li>
        </ul>
    </div>
    <div class="main">

    </div>
</body>

</html>

<!-- TODO: Image needs resizing + positioning on media query instead of opacity change -->