<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Black Ops 3 - <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/slider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">BO3 Workshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maps">Browse Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mods">Browse Mods</a>
                    </li>

                    <% if (req.user && req.user._json.steamid == "76561198165227885" || req.user && req.user._json.steamid == "76561198179157830") { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/pending-mods">Pending mods</a>
                    </li>
                    <% } else if(req.user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-mod">Add Mod/Map</a>
                    </li>
                    <% } %>

                    <li class="nav-item" style="display: inline-block;">
                        <div class="dropdown">
                            <% if (!req.user) { %>
                            <a class="nav-link" href="/login"><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png" /></a>
                            <% } else { %>
                            <a class="nav-link" style="display: inline-block;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><!--<img src="<%= req.user._json.avatar %>" class="rounded-circle">--><%= req.user.displayName %></a>
                            <% } %>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
