<% include C:\Users\Mario\source\repos\CodMods\CodMods\public\templates\header.html %>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/940560276599757297/79E6887E53CD85713B2FD807C486B330C9D18926/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Die Rise - Sliquifier Floor</h3>
                        <p>by Mr Wafflez (rc car btw Kappa its a joke calm)</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://i.ytimg.com/vi/94vy7nygHZE/maxresdefault.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>de_train</h3>
                        <p>by Liam</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://img00.deviantart.net/2898/i/2017/293/9/a/m1911_in_black_ops_3___by_karma45-dbr5ezc.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>M1911 Weapon port</h3>
                        <p>by Killer15 (for the memes)</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h1>Black Ops 3 - Maps & Mods!</h1>
            <hr />
            <i>Saturday, 8 September 2018</i><br />
            <p>
                The maps displayed above are the top 3 maps of the week, new rotations every monday!
            </p>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>