<% include C:\Users\Mario\source\repos\CodMods\CodMods\public\templates\header.html %>
    <br />
    <br />

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Map name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Workshop link</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approve</th>
                    </tr>
                </thead>
                <tbody id="mod_table">
                    <% for(var i = 0; i < rows.length; i++) { %>
                    <tr>
                        <th scope="row"><%= rows[i].id %></th>
                        <td><%= rows[i].name %></td>
                        <td><a href="https://steamcommunity.com/profiles/<%= rows[i].author %>" target="_blank"><%= rows[i].author %></a></td>
                        <td><a href="<%= rows[i].url %>" target="_blank"><%= rows[i].url %></a></td>
                        <td><%= rows[i].status %></td>
                        <td><a href="/approve-mod/<%= rows[i].id %>" class="btn-approve">Approve</a> <a href="/dismiss-mod/<%= rows[i].id %>" class="btn-dismiss">Dismiss</a></td>
                    </tr>
                    <% } %>
                    <% table %>
                </tbody>
            </table>
        </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>