<% include ..\public\templates\header.html %>
<link rel="stylesheet" href="../stylesheets/main.css">

<br />
<br />

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Map name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Workshop link</th>
                    <th scope="col">Add to DB</th>
                </tr>
            </thead>
            <tbody id="mod_table">
                <% items.forEach( function( item, i ) { %>
                <tr>
                    <th scope="row">
                        <%= i = i+1 %>
                    </th>
                    <td>
                        <%= item.Mod %>
                    </td>
                    <td>
                        <%= item.Author %>
                    </td>
                    <td>
                        <!-- ReSharper disable once Html.PathError -->
                        <a href="<%= item.Link %>" target="_blank">
                            <%= item.Link %></a>
                    </td>
                    <td></td>
                </tr>
                <% }) %>
            </tbody>
        </table>

        <% if (pageCount > 1) { %>
        <nav data-pagination>
            <ul>
                <% if (currentPage > 1) { %>
                <!-- ReSharper disable once Html.PathError -->
                <li class="prev"><a href="/pending-mods?page=1">&lsaquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                <!-- ReSharper disable once UnknownCssClass -->
                <li class="disabled delimeter"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<= pageCount; i++) { %>
                <% if (currentPage == i) { %>
                <li class="current">
                    <a>
                        <%= i %>
                    </a>
                </li>
                <% } else { %>
                <!-- ReSharper disable once Html.PathError -->
                <li>
                    <a href="/pending-mods?page=<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
                <% if (i == (+currentPage + 4)) { %>
                <!-- ReSharper disable once UnknownCssClass -->
                <li class="disabled delimeter"><a href="javascript:void(0)">...</a></li>
                <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                <!-- ReSharper disable once Html.PathError -->
                <li class="next"><a href="/pending-mods?page=<%= pageCount %>">&rsaquo;</a></li>
                <% } %>
            </ul>
        </nav>
        <% } %>
    </div>
</section>
</body>

</html>