/* Font Icons */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jzlbrs');
    src: url('../fonts/icomoon.eot?jzlbrs#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jzlbrs') format('truetype'),
        url('../fonts/icomoon.woff?jzlbrs') format('woff'),
        url('../fonts/icomoon.svg?jzlbrs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\f015";
}

.icon-clock-o:before {
    content: "\f017";
}

.icon-exclamation-circle:before {
    content: "\f06a";
}

.icon-list-ul:before {
    content: "\f0ca";
}

.icon-user-times:before {
    content: "\f235";
}